<p>This modules allows you to embed Vine's posts easily.</p>
<p>After installing this module, and enabled it...<br />
2-steps Configuration:</p>
<ol><li>In any content type use or add a <strong>Field</strong> of the type <strong>text</strong>.</li>
<li>Then, set <strong>Embed Vine</strong> Format on Display settings for chosen field.</li>
</ol><p>Simply usage: Paste Vine's post URL on chosen field<br />
e.g. <a href="https://vine.co/v/hmpvn259tjt" title="https://vine.co/v/hmpvn259tjt" rel="nofollow">https://vine.co/v/hmpvn259tjt</a></p>
<p>Further information:</p>
<p>This module comes with standard formats suggested by Vine.</p>
<p>You can choose between two styles: <strong>Simple</strong> and <strong>Postcard</strong>;<br />
and between three sizes: <strong>Large</strong> (600px), <strong>Medium</strong> (480px) and <strong>Small</strong> (320px)</p>
<p>Include Vines on your articles and get great social video impact on your websites</p>
<p>A little experience with Drupal was needed for developing this simple module.<br />
Base code was taken from this tutorial<br /><a href="http://www.metaltoad.com/blog/drupal-7-tutorial-creating-custom-formatters" rel="nofollow">Drupal 7 Tutorial: Creating Custom Formatters with the Field API</a> by <a href="https://drupal.org/user/566584" rel="nofollow">Dann Linn</a></p>